/unusedDesign/*
/SDK/Datasheets/*
/SDK/STM32F407VGT6/*
/SDK/STM32H750VBT6/*
/SDK/wt-nuedc/*
/HDK/DigiBuckBoostConverter_V2/History/*
/HDK/DigiBuckBoostConverter_V2/Project Logs for DigiBuckBoostConverter/*
/HDK/DigiBuckBoostConverter_V2/Project Outputs for DigiBuckBoostConverter/*
/HDK/DigiBuckBoostConverter_V2/__Previews/*
*.html
*.txt
*.zip